page-lessons {
    .grid-lessons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .lesson-card {
        background: #f5f5f5;
        margin-bottom: 1em;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        &:nth-child(odd) {
            margin-right: .5em;
        }
        &:nth-child(even) {
            margin-left: .5em;
        }
        .lesson-card-img {
            position: relative;
            img{
            height: 14em;
                
            }
            .cover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: rgba(0, 0, 0, 0.5);
            }
            h1 {
                position: absolute;
                color: #f5f5f5;
                width: 100%;
                text-align: center;
                bottom: .2em;
            }
        }
    }
    .lesson-card-subheader {
        padding: .3em 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .lesson-card-advance {
            margin: auto;
            
            p {
            background: #4CB976;
            margin: 0;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            font-weight: bold;
            color: #f5f5f5;
            padding: 25%;
            }
            span{

            }
        }
        .lesson-card-test {
            img {
                width: 2em;
            }
            p {
                margin: 0;
                font-size: 11px;
            }
        }
    }
}

// http://www.montecaserosonline.com/galeria/dia.nac.d.las.personas.sordas.jpg