page-home {
    .cards-links {
        .card-lesson {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1em;
            grid-template-rows: 1fr;
            background-color: #4CB976;
            .card-lesson-video {
                position: relative;
                text-align: center;
                img {
                    padding: .5em;
                    border-radius: 5px;
                }
                ion-icon {
                    position: absolute;
                    color: #f5f5f5;
                    font-size: xx-large;
                    margin: auto;
                    top: 35%;
                    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
                }
            }
            .card-lesson-description {
                padding-top: 1em;
                padding-right: 1em;
                h1 {
                    color: #f5f5f5;
                    font-size: large;
                    font-weight: bold;
                }
                p {
                    color: #f5f5f5;
                    font-size: small;
                }
            }
        }
        .cards-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1em;
            grid-template-rows: 1fr;
            .card-md+ion-card {
                margin-top: 10px!important;
            }
            .card-link {
                background-color: #4CB976;
                text-align: center;
                padding: 1em;
                img {
                    width: 3em;
                    margin: auto;
                    background-blend-mode: screen;
                    mix-blend-mode: overlay;
                }
                h2 {
                    color: #f5f5f5;
                }
            }
        }
    }
    .divider {
        display: block;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.38);
        margin: 1em auto;
    }
    .grid-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}