page-home {
.card-icon{
    width: 76px;
    height: 72px;
    margin: 0 auto;
    background: url(./../../../assets/imgs/icon.svg);
    background-blend-mode: screen;
    mix-blend-mode: overlay;
}
.card-icon2{
    width: 76px;
    height: 59px;
    margin: 9px auto;
    background: url(./../../../assets/imgs/comunicate.svg);
    background-blend-mode: screen;
    mix-blend-mode: overlay;
}
.divider{
    display: block;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
}
}
