<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>TicSor</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="course-grid">
        <div class="course-video-container" *ngIf="content">
            <ion-slides pager class="slider" (ionSlideDidChange)="slideChanged()">
                <ion-slide class="slider-page" *ngFor="let i = index; let item of content.images">
                    <img *ngIf="item.indexOf('mp4') == -1" src="{{item}}">

                    <video *ngIf="item.indexOf('mp4') != -1" id="video-{{i}}" width="100%" >
                      <source src="{{item}}" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                    <ion-icon *ngIf="item.indexOf('mp4') != -1" name="{{reproduce}}" (click)="reproduceVideo(i)"></ion-icon> 
                </ion-slide>

            </ion-slides>
        </div>
         <div class="course-explanation-content">
            <div class="course-explanaton" *ngIf="content">
                <h1>{{content.nombre}}</h1>
                <p>{{content.descripcion}}</p>
            </div>
        </div> 
    </div>
</ion-content>