page-practice {
    .test-header {
        background: #ffffff;
        margin-bottom: 1em;
        .h2-ribbon {
            padding: .5em;
            background: #014B15;
            margin-left: -1em;
            margin-right: -1em;
            color: #fff;
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            line-height: 1.3em;
            border: 2px dashed #fff;
            border-top-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -webkit-border-top-left-radius: 3px;
            border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-box-shadow: 0 0 0 4px #38783E, 2px 1px 4px 4px rgba(10, 10, 0, .5);
            -webkit-box-shadow: 0 0 0 4px #014B15, 2px 1px 4px 4px rgba(10, 10, 0, .5);
            box-shadow: 0 0 0 4px #014B15, 2px 1px 6px 4px rgba(10, 10, 0, .5);
            font-weight: normal;
        }
    }
    .test-complete {
        background: #014B15;
        color: white;
        position: relative;
        .complete-mark {
            position: absolute;
            width: 10em;
            padding: .5em;
            text-align: center;
            color: #f0f0f0;
            position: fixed;
            top: 1.5em;
            left: -2em;
            transform: rotate(-45deg);
            background-color: #ffbf00;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        button {
            color: white;
            border-color: white;
        }
    }
    .btn-certificate {
        text-align: center;
        color: #014B15;
        width: 60%;
        padding: .5em;
        margin: 0 auto;
        border: 2px solid #014B15;
        img {
            width: 4em;
        }
        p {
            font-size: large;
            margin: 0;
        }
    }
    .download-certificate{
        font-size: small;
        display: block;
        
    }
    .vibrate-1 {
        animation: vibrate-1 0.3s linear infinite both;
    }
    @keyframes vibrate-1 {
        0% {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
        20% {
            -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
        }
        40% {
            -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
        }
        60% {
            -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
        }
        80% {
            -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
        }
        100% {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
    }
    .shadow-box {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}