<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>TicSor</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="background: #E5E5E5;">
    <div class="test-container" *ngIf="course">
        <div class="test-header shadow-box" padding>
            <div class="h2-ribbon">
                <h2>¿Listo para probar tus conocimientos?</h2>
            </div>
            <p>Selecciona una unidad y responde correctamente las preguntas.</p>
            <div class="btn-certificate" [ngClass]="{ 'vibrate-1' : !evaluate.evaluacion_usu_id}" *ngIf="course.cursados == percentage_note || evaluate.evaluacion_usu_id" (click)="openEvaluate()">
                <img src="assets/imgs/diploma.svg" alt="">
                <p>{{(evaluate.evaluacion_usu_id)? 'Aprobado': 'Prueba final'}}</p>
                <!--<a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/ticsor-9b4db.appspot.com/o/Certificado.pdf?alt=media&token=47b33e1a-4a66-4a4a-826a-19ae93b79a0c" *ngIf="evaluate && evaluate.evaluacion_usu_id" class="download-certificate">Descarga tu certificado aqui</a>-->
            </div>

        </div>
        <div class="test-modules shadow-box">
            <ion-list>
                <ion-item *ngFor="let item of temary" [ngClass]="{'test-complete': item.resultado >= 8}">
                    <div *ngIf="item.resultado >= 8" class="complete-mark">Completado</div>
                    <ion-thumbnail item-start>
                        <img src="{{item.image}}">
                    </ion-thumbnail>
                    <h2>{{item.nombre}}</h2>
                    <p *ngIf="item.resultado">{{item.resultado}} nota actual</p>
                    <p *ngIf="!item.resultado">Pruebate</p>
                    <button ion-button icon-left outline item-end (click)="startTest(item)">
                        <ion-icon name="{{(item.resultado >= 8)? 'ribbon' : 'medal'}}"></ion-icon>
                        Empezar
                      </button>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>